@tailwind base;
@tailwind components;
@tailwind utilities;


/* primary color */
.bg-cream {
    background: linear-gradient(253deg, #FBF9FA -6.16%, #FCFCFC 48.58%, #FFF5F9 86.54%);
}

/*font*/
body {
    font-family: "Plus Jakarta Sans";
}

.bg-yellow-500 {
    background-color: #F48C06;
}

.text-yellow-500 {
    color: #F48C06;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.floating-4 {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-4 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 8px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.text-darken {
    color: #2F327D;
}

.bg-card-orange {
    border-radius: 8px;
    background: linear-gradient(30deg, rgba(251, 138, 87, 0.10) 0%, rgba(245, 245, 245, 0.22) 75.21%, #F5F5F5 100%);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-fluid-7 {
    max-width: 70%;
    height: auto;
}

@media(min-width: 640px) {
    .container {
        max-width: 84% !important;
    }
}


.btn-primary {
    @apply text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none;
}